.navbar {
  display: flex;
  justify-content: space-between;
  background: lightblue;
  padding: 0 32px;
  height: 64px;
  align-items: center;
  border-radius: 2px;
}

.navbar .logo img {
  border-radius: 30%;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 70px;
  font-size: 20px;
  transition: 0.3s;
}

body {
  background-image: url(Vector.png);
}
@media (max-width: 768px) {
  .wholething {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  background-color: blue;
  padding: 20px;
  margin: 7px;
  border-radius: 7px;
  height: 100px;
  width: 100px;
  color: black;
}

@media (min-width: 768px;) {
  .card {
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

table th,
tr,
td {
  border: 2px solid black;
  width: 700px;
}

* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

.formcontainer {
  background-color: lightblue;
  padding: 40px;
  border-radius: 7px;
}

.formcontainer {
  gap: 10px;
}
