* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: lightblue;
  padding: 0 32px;
  height: 64px;
  align-items: center;
  border-radius: 2px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 70px;
  font-size: 20px;
  transition: 0.3s;
}

body {
  background-image: url(Vector.png);
}

form {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
}

.wholething {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form h1 {
  color: blue;
}

form a {
  cursor: pointer;
}

form .Signup a {
  text-decoration: none;
  color: blue;
  margin: 10px;
  background-color: blanchedalmond;
  cursor: pointer;
  border-radius: 7px;
  padding: 1px;
}

.logo img {
  border-radius: 30%;
}

.formafter form {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 6px;
  border-radius: 10px;
}

.formafter form a {
  text-decoration: none;
}

.signin a {
  color: black;
  padding: 6px;
  border-radius: 10px;
  background-color: gray;
}

.after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 59px;
}

.imageafter img {
  width: 283px;
  height: 300px;
  border-radius: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 70px;
  margin: 10px;
  opacity: 0.8;
  backdrop-filter: blur(90px);
}

.head {
  color: white;
  gap: 60px;
}

.headbutton {
  display: flex;
  margin: 80px;
  background-color: none;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
}

.button1 {
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 7px;
}

.body .headbutton .button1 a {
  text-decoration: none;
}
