.navbar {
  display: flex;
  justify-content: space-between;
  background: lightblue;
  padding: 0 32px;
  height: 64px;
  align-items: center;
  border-radius: 2px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 70px;
  font-size: 20px;
  transition: 0.3s;
}

body {
  background-image: url(Vector.png);
}

form {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
}

.wholething {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form h1 {
  color: blue;
}

form a {
  cursor: pointer;
}

form .Signup a {
  text-decoration: none;
  color: blue;
  margin: 10px;
  background-color: blanchedalmond;
  cursor: pointer;
}
